/*
    button.css

    Styles for neon outlines of social media buttons
*/

.neonImage {
    padding: 20px;
    transition: transform 0.3s ease;
}

.neonImage:hover {
    transform: scale(1.1); /* Increase the size by 10% on hover */
}

.navBar {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #212121;
}
