/*
    button.css

    Styles for neon outlines of social media buttons
*/

.neonImage {
    width: clamp(64px, 3vw, 100px);
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease;
}

.neonImage:hover {
    transform: scale(1.1); /* Increase the size by 10% on hover */
}

.navBar {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #212121;
}
