/*
    Album.css

    Style sheet for the Photo Album Component
*/

.wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
  }

.photo {
    padding: 0.5vw;
    width: 19vw;
    height: 12vw;
}