/*
    globals.css

    Styles to be used throughout the webpage

    This is the cheat sheet for tailwind's default theme variables, I figureed it would be helpful to keep it on hand here for now since I'm new to tailwindcss
    https://tailwindcss.com/docs/theme#default-theme-variable-reference
*/


@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.neonText {
    font-family: 'Tilt Neon';
    color: #fff;
    text-shadow:
      0 0 7px #faa,
      0 0 10px #f9e,
      0 0 21px #f7e,
      0 0 42px #ff13f0,
      0 0 82px #ff13f0;
      /* 0 0 92px #ff13f0; */
      /* 0 0 102px #ff13f0, */
      /* 0 0 151px #ff13f0; */
  }

.neon-card {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    backdrop-filter: blur(10px);    /* The "Glass" effect */
    border: 1px solid rgba(255, 19, 240, 0.5);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 19, 240, 0.2);
    transition: all 0.3s ease;
  }

body {
  background-color: #141414;
  margin: 0;
  padding: 0;
}
