/*
    BookingInquiry.css

    Style sheet for the booking inquiry components
*/

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: auto;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: pink;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  button {
    padding: 0.75rem;
    background-color: #f7e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff13a0;
  }  
